body{
    margin: 10px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    text-align: center;
}
#text1{
    text-align: center;
}
footer{
    text-align: center;
}
#img-email{
    text-align: center;
}
#img2{
    text-align: center;
}